In [1]:
#addition
print(5+5)
#subtraction
print(5-5)

#multiplication
print(3*5)
#division
print(10/2)
#remainder
print(18%7)
#raise to the power
print(4**2)

10
0
15
5.0
4
16

In [11]:
P=5000
R=0.07
T=5
I= P*R*T
Total= P + I
print('Money earned in interest is',I))
print('Total value of savings', Total))

Money earned in interest is 1750.0000000000002
Total value of savings 6750.0

In [12]:
R=.087
P=8000
I=4872
T= I/(P*R) #formula for getting the time 
print(T)

7.0

In [14]:
P=3000
T=4
I=768
R=I/(P*T)*100 #finding the rate of interest
print(R)

6.4

In [15]:
print(100*(1.1)**7) #Amount which we will get after 7 years

194.87171000000012

In [17]:
savings= 100*(1.1)**7
print(savings)

194.87171000000012

In [19]:
growth_multiplier=1.1
result= 100*(growth_multiplier)**7 #calculating the result
print(result)

194.87171000000012

In [32]:
desc='compound interest'
profitable= True

In [38]:
A=10.7
B= 'This is python course'
C= False
print(type(A))
print(type(B))
print(type(C))
print(type(savings))
print(type(desc))
print(type(profitable))
print(type(growth_multiplier))

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [40]:
year1= savings*growth_multiplier
print(type(year1)) #printing out the type of year1 as savings is of flot class so the product also comes out as float

<class 'float'>

In [41]:
doubledesc= desc+desc #adding desc with desc and storing the value in doubledesc
print(doubledesc)
#as desc is a string so when we add them it combines both the strings

compound interestcompound interest

In [44]:
savings=100
result= 100*1.1**7
print('I started with $' +str(savings)+'and now have $'+str(result)+'. Awesome!')
#changing the type of savings and results as int or floats cannot be added with strings

I started with $100and now have $194.87171000000012. Awesome!

In [46]:
pi_string= '3.1415926'
#converting the pi_string into float
pi_float= float(pi_string)
#multiplying it by 2 and saving the value in double_pi
double_pi= pi_float *2

In [48]:
print('I can add integers, like' +str(5)+'to strings.')
print('I said'+ ('Hey'*2)+'Hey!')
print('The correct answer to this multiple choice exercise is answer numer'+2)
print(True+False)
# So the 3rd command will give error as integers cannot be concatenated to strings

I can add integers, like5to strings.
I saidHeyHeyHey!

TypeError: can only concatenate str (not "int") to str

In [3]:
n= float(input('Enter a number: '))
if  n%2 == 0:
    print('The given number is even')
else:
    print('The given number is odd')

Enter a number: 5
The given number is odd

In [4]:
t=float(input('enter the temperature: '))
print('The temperature in farenheit is ', (t*1.8)+32)

enter the temperature: 42
The temperature in farenheit is  107.60000000000001

In [7]:
a=4
b=3
c=6
s = (a+b+c)/2
import math
area= math.sqrt(s*(s-a)*(s-b)*(s-c))
print(area)

5.332682251925386

In [5]:
print('pi is', math.pi)
r=float(input('enter the radius: '))
print('the area of the circle is', math.pi *(r)**2)
print('the circumference of the circle is', 2*math.pi*r)

pi is 3.141592653589793
enter the radius: 3
the area of the circle is 28.274333882308138
the circumference of the circle is 18.84955592153876

In [6]:
i=int(input('enter an integer: '))
if i%5 == 0:
    print('It is a multiple of 5')
else:
    print('It is not a multiple of 5')

enter an integer: 10
It is a multiple of 5